.with {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.with__div {
    margin-top: 20px;
    width: 1000px;
    height: 100%;
    /* margin-bottom: 50px;
    border-radius: 10px;

    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.55); */
}

.boardList {
    margin: 20px;
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.boardList__title {
    margin-left: 90px;
    margin-right: 100px;
    width: 200px;
    display: flex;
    font-weight: 700;
}

.boardList__date {
    margin-left: auto;
    margin-right: 100px;
}

.boardList__head {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: larger;
    font-weight: 700;
    background-color: #eff2f5;
    padding: 20px;
    border-radius: 8px;
}

.boardList__head__title {
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    display: flex;
}

.boardList__head__date {
    margin-left: auto;
    margin-right: 150px;
}

.with__write {
    margin-left: auto;
    margin-right: 290px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #eff2f5;
}