@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {
    /* background-color: bisque; */
    /* text-align: center; */
    font-family: 'Gothic A1', sans-serif;
}

.BoardWrite {
    margin: 20px auto;
    width: 800px;
    min-width: 792px;
    z-index: 10;
}

.write__title {
    margin-top: 25px;
    margin-left: 25px;
    width: 500px;
    min-width: 300px;
    color: #000;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #5f6368;
    overflow-y: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.photo__site {
    padding-top: 15px;
}

.select__site {
    padding: 10px 10px;
}

.write__content {
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 25px;
    display: block;
    margin-top: 60px;
    margin-bottom: 70px;
    /* padding: 0; */
    width: 100%;
    height: 215px;
    color: #000;
    font-size: 15px;
    border: none;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke;
}

.write__button {
    margin: 10px;
    text-decoration: none;
    padding: 8px 40px;
    border-radius: 10px;
    background: whitesmoke;
    font-size: 16px;
}